<div class="intercom-button-container">
  <button type="button" class="open-intercom button button--small button--green button--intercom">
    <%= image_tag("intercom-chat.svg", "aria-hidden": "true", class: "intercom-button-icon") %>
    <%= t("general.intercom_cta") %>
  </button>
</div>
