<body class="state-file us-state--">
<div class="page-wrapper">

  <div class="page-content">
    <header role="banner">
      <a href="#maincontent" id="skip-content-link" class="skip-link button--green">Skip to main content</a>

      <div data-component="ClientMenuOverlay" class="menu-overlay"></div>
      <div data-component="ClientMenuComponent" class="client-menu" data-target="toggle">
        <div class="container">
          <div>
            <div class="client-menu-item">
              <a href="/en/us/faq">FAQ</a>
            </div>


            <div class="client-menu-item">
              <a lang="es" id="locale_switcher_es" data-track-click="intake-language-changed" data-track-attribute-to-locale="es" data-track-attribute-from-locale="en" href="/es">Español</a>
            </div>

          </div>
        </div>
      </div>


      <div class="main-header sticky-header">
        <div class="toolbar">
          <div class="toolbar__left">
            <div class="toolbar__item main-header__title">
              <a class="toolbar__logo-text" href="/en">
                <img alt="FileYourStateTaxes" title="FileYourStateTaxes" class_names="fyst-logo" src="/assets/fyst-logo-9f910d296e319359198007ff15593ea172e6f1640d2128dc9eabc6a0ac461f83.svg">
              </a>      </div>
          </div>
          <div class="toolbar__right is-mobile-hidden">
            <a lang="es" id="locale_switcher_es" data-track-click="intake-language-changed" data-track-attribute-to-locale="es" data-track-attribute-from-locale="en" class="toolbar__item text--small" href="/es">Español</a>

            <a class="toolbar__item text--small" href="/en/login-options">Sign in</a>
          </div>
          <a data-component="ClientMenuTrigger" class="client-menu-trigger is-desktop-hidden toolbar__item text--small">Menu</a>
          <a class="is-desktop-hidden client-menu-closer" data-component="ClientMenuCloser">
            <img src="/assets/icons/close-26922f18815a5e5e66c7f5f729c5f1eec082c64427b9e407c0b319caa9beb254.svg">
          </a>
        </div>
      </div>




      <div class="flash-alerts">

      </div>


    </header>

    <main id="maincontent">








      <div class="fyst-home-container">
        <div class="fyst-home-content">
          <h1 class="h1 strong">A free state filing service for taxpayers using IRS Direct File</h1>

          <h2>TESTTTT</h2>
          <div>
            <p>FileYourStateTaxes connects with IRS Direct File to help you complete your state tax return for free.
              <br><br>
              This site will open at the start of the 2025 tax filing season and remain open until October 15, 2025 for you to file your state tax returns.
              <br><br>
              <strong>In 2025, this service will support filing state tax returns in Arizona, Idaho, North Carolina, New Jersey, and Maryland.</strong>
            </p>
            <p><strong>Already started your state return and need to complete it?</strong> <a href="/en/login-options">Sign in here</a>.</p>
          </div>

          <div class="reveal is-hiding-content">
            <button class="reveal__button" aria-expanded="false" type="button"><strong>How does this service work? </strong></button>
            <div class="reveal__content">
              <ol class="list--numbered" style="padding-left: 2rem">
                <li>First, file and submit your federal return with <a target="_blank" rel="nofollow noopener" href="https://directfile.irs.gov/?utm_source=CA-Nonprofit&amp;utm_medium=email&amp;utm_campaign=gyr&amp;utm_id=directfile&amp;utm_content=QRcode">IRS Direct File</a> before using this service.</li>
                <li>Follow the link from Direct File to FileYourStateTaxes.</li>
                <li>Answer a few questions to make sure this is the right service for you. <a target="_blank" rel="nofollow noopener" href="https://directfile.irs.gov/?utm_source=CA-Nonprofit&amp;utm_medium=email&amp;utm_campaign=gyr&amp;utm_id=directfile&amp;utm_content=QRcode">Learn more</a> about who is eligible for this tax year.</li>
                <li>Transfer your federal return to fill in most of your state return.</li>
                <li>Answer a few additional questions to help maximize your state tax refund.</li>
                <li>E-file your return for free!</li>
              </ol>
              <br><br>
              <strong>To learn more, check out the <a href="/en/us/faq">FAQs</a>.</strong>

            </div>
          </div>

        </div>
        <img class="fyst-home-image" alt="" src="/assets/questions/welcome-bd39d5f35e3a006337c078879b24c3a23c0bce9242b137e905b5ff26d4712075.svg">
      </div>


      <div data-testid="get-your-pdf-sign-in" class="spacing-below-25">
        <strong>Looking for your 2023 Arizona or New York State Tax Return?</strong> <a href="/en/state_file/archived_intakes/email_address/edit">Sign in</a> to download a copy of your state return.
      </div>


    </main>

    <footer class="footer">
      <div class="slab slab--footer">
        <div class="grid">
          <div class="grid__item width-three-fourths footer-description">
            <p>
              <img alt="FileYourStateTaxes" title="FileYourStateTaxes" class_names="fyst-logo" src="/assets/fyst-logo-9f910d296e319359198007ff15593ea172e6f1640d2128dc9eabc6a0ac461f83.svg">
            </p>

            <p>
              FileYourStateTaxes is built by <a target="_blank" rel="noopener nofollow" href="https://www.codeforamerica.org">Code for America</a> in partnership with state tax agencies to integrate with IRS Direct File.
            </p>
          </div>


          <ul class="grid__item width-one-fourth footer-links">
            <li>
              <a href="mailto:help@fileyourstatetaxes.org">Contact us</a>
            </li>

            <li>
              <a href="/en/us/faq">FAQ</a>
            </li>

            <li>
              <a href="/en/privacy-policy">Privacy Policy</a>
            </li>

            <li>
              <a href="/en/sms-terms">SMS Terms</a>
            </li>

            <li>
              <a lang="es" id="locale_switcher_es" data-track-click="intake-language-changed" data-track-attribute-to-locale="es" data-track-attribute-from-locale="en" href="/es">Español</a>
            </li>


          </ul>
        </div>
      </div>
    </footer>

  </div>
</div>


<!-- hiding intercom on hub again until we tackle styling it into the sticky action footer -->
<div></div>


</body>
