name: Deploy to AWS Staging

on:
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    uses: ./.github/workflows/ci.yml
  deploy:
    name: deploy
    needs: ["tests"]
    environment: staging
    runs-on: ubuntu-latest
    env:
      ECR_REPOSITORY: pya-staging-web
      IMAGE_TAG: ${{ github.sha }}
    steps:
      - run: echo 'Linter and tests passed.'

      - run: echo 'Starting the staging deploy'

      - name: Check out code
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: us-east-1

      - name: Log in to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build and push Docker image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          BUNDLE_GITHUB__COM: ${{ secrets.DEPLOY_PAT }}
        run: |
          docker build -t 300423309117.dkr.ecr.us-east-1.amazonaws.com/pya-staging-web:${{env.IMAGE_TAG}} --secret id=github_pat,env=BUNDLE_GITHUB__COM --platform linux/amd64 .
          docker push 300423309117.dkr.ecr.us-east-1.amazonaws.com/pya-staging-web:${{env.IMAGE_TAG}}

      - name: Update SSM Version Parameter
        run: |
          echo "tag:$IMAGE_TAG"
          aws ssm put-parameter \
            --name  /pya/staging/web/version \
            --value "$IMAGE_TAG" \
            --overwrite

      - name: Get a deployment token
        uses: actions/create-github-app-token@v2
        id: token
        with:
          app-id: ${{ secrets.DEPLOYMENT_APP_ID }}
          private-key: ${{ secrets.DEPLOYMENT_APP_KEY }}
          owner: codeforamerica
          repositories: tax-benefits-backend

      - name: Trigger infrastructure deployment
        uses: codex-/return-dispatch@v3
        id: dispatch
        with:
          token: ${{ steps.token.outputs.token }}
          # Update this to match the reference (branch, tag, or
          # commit SHA) you want to deploy.
          ref: main
          # Replace this with the name of the target repository.
          repo: tax-benefits-backend
          owner: codeforamerica
          # Replace this with the name of the workflow to call.
          workflow: deploy.yaml
          # Workflow inputs should be formatted as JSON. You can
          # pass additional inputs as needed.
          workflow_inputs: |
            {
              "environment": "pya-nonprod",
              "config": "staging.pya.fileyourstatetaxes.org"
            }

      - name: Notify deploy failure on Slack
        uses: 8398a7/action-slack@v3
        if: failure()
        with:
          text: "<!subteam^S06P99RGJDS> PYA staging deploy ${{ job.status }} :sob:"
          status: ${{ job.status }}
          fields: message,commit,author,workflow,took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
